#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Target the custom card */
.custom-card:hover .card-body,
.custom-card figure::before {
  opacity: 0;
}

/* Add transition for the custom card */
.custom-card .card-body,
.custom-card figure::before {
  transition: opacity 0.3s;
}
