#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.cork-texture {
  background-image: url('../public/cork-texture.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 10px transparent; /* Adjust the width as needed */
  border-radius: 12px; /* Adjust for rounded corners */
  box-shadow:
    inset 0 0 0 10px rgba(139, 69, 19, 0.5), /* Inner shadow for depth */
    0 0 15px 5px rgba(0, 0, 0, 0.3); /* Outer shadow for 3D effect */
  border-image: url('../public/wood-texture.jpeg') 30 round; 
}
